body{
    padding-top: 50px;
}
 
.bs-callout {
    border-left: 3px solid #EEEEEE;
    margin: 20px 0;
    padding: 20px;
}
.bs-callout h4 {
    margin-bottom: 5px;
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    background-color: #FFFFFF;
    border-radius: 3px;
}
.bs-callout-danger {
    background-color: #FDF7F7;
    border-color: #D9534F;
}
.bs-callout-danger h4 {
    color: #D9534F;
}
.bs-callout-warning {
    background-color: #FCF8F2;
    border-color: #F0AD4E;
}
.bs-callout-warning h4 {
    color: #F0AD4E;
}
.bs-callout-info {
    background-color: #F4F8FA;
    border-color: #5BC0DE;
}
.bs-callout-info h4 {
    color: #5BC0DE;
}
.color-swatches {
    margin: 0 -5px;
    overflow: hidden;
}
.color-swatch {
    border-radius: 3px;
    float: left;
    height: 60px;
    margin: 0 5px;
    width: 60px;
}

/*------------------------------------------------------------------------*/
.thumbnail{
  display: inline-block;
} 
.col-md-4 {
    width: 100% !important;
}
.salas .thumbnail > img {
    display: inline !important;
    float: left;
    width: 32% !important;
  }  
.salas .thumbnail .caption {
	width: 68% !important;
	float: left;
}
.salas.thumbnail {
	width: 100% !important;
	display: inline-block !important;
	cursor: pointer;
} 

.salas .thumbnail .caption a{
	float: right;
}



.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

 
 
 
 
.tabs-left > .nav-tabs > li 
  {
  float: none;
}

.tabs-left > .nav-tabs > li > a 
  {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}



.salas.thumbnail{
  width: 100% !important;
  display: inline-block !important;
  
}
#select_sala{
		display: none;
	}
  

.solicitud{

  display: none;
}
 
.objeto.thumbnail img{
    
   float: left;
   width: 20% !important;
   height: auto;
   margin-right: 1em;
    
}

 
.objeto.thumbnail{
 
   display: inline-block;
   padding: 3px;
   width: 100%;
}

.objetos.caption{

  width: 80% !important;
  display: inline-block;
}



#baner_museo{
        display: none;
        margin-top: 0px;
        padding-top: 0px;
     }


     #baner_museo img{
        display: inline-block;
        width: 100%;
        height: auto;
     }     


@media   screen and (max-width: 800px) {
     #carousel-example-captions,#barra_busqueda,#ul_menu,.caption p{
        display: none;
     }

     #baner_museo{
        display: inline-block;
        width: 100%;
     }
     .container.row{
        margin-top: 0px;
     }
   
    #select_sala{
      display: block;
    }
    #span_busqueda{
      display: none;
    }
}
.barra{

  padding: 3px !important;
}
.barra button{
  float:right !important;
}
.barra h4{
  display:inline-block;
  color: #777777;
  margin-left: 1em;
}
/*-------------------------------Administracion -------------------------*/
#tabla_salas button{

    width: 7em !important;
}

i{
  font-size: 18px;
}
.btn-close{
   clear: both;
    display: block;
    font-size: 2em;
    font-weight: bold;
    text-align: right;
    width: 100%;
}

/*---------------------salas-------------*/
#body-trivia button{
  text-align: left;
  padding-left: 1em;

}

#body-trivia button span{
  float: right;
}
.modal-dialog{
   margin-top: 12%;
}

#body-objeto img{
   display: inline-block;
   width: 90%;
   height: auto;
}