
body{
    padding-top: 50px;
    background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333;
}

h1 {
  font-size: 40px;
}

h3 {
  color: #95a5a6;
  font-weight: 400;
}

h4 {
  color: #95a5a6;
  font-weight: 400;
  font-size: 20px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar-default {
  background-color: #3498db;
  border-color: transparent;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

/* Helpers */

.mt {
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-control {
  height: 42px;
  font-size: 18px;
 
}

i {
  margin: 8px;
  color: #3498db; 
}


/* HeaderWrap */
#headerwrap {
  /* background: url(../img/bg01.jpg) no-repeat center top; */
  background-color: #3498db;
  margin-top: -20px;
   background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
  margin-top: 60px;
  margin-bottom: 15px;
  color: white;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 1px;
}


/*-------------bootstrap ---------*/
.breadcrumb{
  background-color:#FFF !important; 
}
 .thumbnail > img, .thumbnail a > img {
   
    width: 100%;
}

.bs-callout {
    border-left: 3px solid #EEEEEE;
    margin: 20px 0;
    padding: 20px;
}
.bs-callout h4 {
    margin-bottom: 5px;
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    background-color: #FFFFFF;
    border-radius: 3px;
}
.bs-callout-danger {
    background-color: #FDF7F7;
    border-color: #D9534F;
}
.bs-callout-danger h4 {
    color: #D9534F;
}
.bs-callout-warning {
    background-color: #FCF8F2;
    border-color: #F0AD4E;
}
.bs-callout-warning h4 {
    color: #F0AD4E;
}
.bs-callout-info {
    background-color: #F4F8FA;
    border-color: #5BC0DE;
}
.bs-callout-info h4 {
    color: #5BC0DE;
}
.color-swatches {
    margin: 0 -5px;
    overflow: hidden;
}
.color-swatch {
    border-radius: 3px;
    float: left;
    height: 60px;
    margin: 0 5px;
    width: 60px;
}

/*-------------------  salas -----------------------------------------------------*/
 
.btn-salas a, 
.btn-salas button {
  padding:5px 7px 5px 7px;
} 
.btn-salas i{
    margin: 0px;
    padding: 0px;
}
.salas img {
    display: inline !important;
    float: left;
    width: 32% !important;
    margin-right: 1em;
}  
.salas a{
  margin-bottom: 1em;
  border-bottom: 1px solid #CCCCCC;
  padding:1em;
}

.salas .thumbnail .caption {
	width: 68% !important;
	float: left;
}
.salas.thumbnail {
	width: 100% !important;
	display: inline-block !important;
	cursor: pointer;
} 

.salas .thumbnail .caption a{
	float: right;
}



.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

 
 
 
 
.tabs-left > .nav-tabs > li 
  {
  float: none;
}

.tabs-left > .nav-tabs > li > a 
  {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}



.salas.thumbnail{
  width: 100% !important;
  display: inline-block !important;
  
}
#select_sala{
		display: none;
	}
  

.solicitud{

  display: none;
}
 
.objeto.thumbnail img{
    
   float: left;
   width: 20% !important;
   height: auto;
   margin-right: 1em;
    
}

 
.objeto.thumbnail{
 
   display: inline-block;
   padding: 3px;
   width: 100%;
}

.objetos.caption{

  width: 80% !important;
  display: inline-block;
}



#baner_museo{
        display: none;
        margin-top: 0px;
        padding-top: 0px;
     }


     #baner_museo img{
        display: inline-block;
        width: 100%;
        height: auto;
     }     


@media   screen and (max-width: 800px) {
     #carousel-example-captions,#barra_busqueda,#ul_menu,.caption p{
        display: none;
     }

     #baner_museo{
        display: inline-block;
        width: 100%;
     }
     .container.row{
        margin-top: 0px;
     }
   
    #select_sala{
      display: block;
    }
    #span_busqueda{
      display: none;
    }

    .salas img {
      display: block !important;
    
     width: 95% !important;
     margin-bottom: 1em ;
     
    } 
}
.barra{

  padding: 3px !important;
}
.barra button{
  float:right !important;
}
.barra h4{
  display:inline-block;
  color: #777777;
  margin-left: 1em;
}

.img-circle-sala{

}
/*-------------------------------Administracion -------------------------*/
#tabla_salas button{

    width: 7em !important;
}

i{
  font-size: 18px;
}
.btn-close{
   clear: both;
    display: block;
    font-size: 2em;
    font-weight: bold;
    text-align: right;
    width: 100%;
}

/*---------------------salas-------------*/
#body-trivia button{
  text-align: left;
  padding-left: 1em;

}

#body-trivia button span{
  float: right;
}
 

#body-objeto img{
   display: inline-block;
   width: 90%;
   height: auto;
}
.heder_sala h1{
  display: inline-block !important;
}
/*------------------------- login -------------------------*/
#form-login input{
    margin-bottom: 1em;
}
#form-login button{
    margin-bottom: 1em;
}
 
#form-login-registro{
  color:#FFFFFF !important;
 
}
#form-login-registro a{
  color:#FFFFFF !important;
  font-weight: bold !important;
}

/*-------------------------home -------------*/
.salas_home{
  padding: 1em 0em 1em 0em;
}
.salas_home:visited{
    color: red !important;
}